<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo4"
        android:supportsRtl="true"
        android:theme="@style/Theme.UDMRPutra"
        tools:targetApi="31">
        <activity
            android:name=".ui.sopir.RiwayatPengirimanSupirActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mitra.DetailPesananMitra"
            android:exported="false" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mitra.PesananMitraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pengajuan.DetailPengajuanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sopir.ProfilSupirActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mitra.ProfilMitraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.logreg.RegisterMitraActivity"
            android:exported="false" />
        <service
            android:name="ui.service.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            tools:ignore="MissingClass" />

        <activity
            android:name=".ui.logreg.RegisterSupirActivity"
            android:exported="false" />
        <activity
            android:name=".ui.barang.InputMasukActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.InputPengirimanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.barang.InputKeluarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.barang.DetailPencatatanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sopir.HomeSupirActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mitra.HomeMitraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.barang.StockBarangActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sopir.SupirActivity"
            android:exported="false" />
        <activity
            android:name=".ui.barang.DetailStockListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.sopir.DaftarSopir"
            android:exported="false"
            android:label="@string/title_activity_daftar_sopir"
            android:theme="@style/Theme.UDMRPutra" />
        <activity
            android:name=".ui.logreg.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.logreg.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.barang.InputBarangActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlsEppzLKiH2dnUTVEwKJaBIMqYo4zhrc" />

        <activity
            android:name=".ui.pengiriman.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ui.pengajuan.ActivityPengajuan"
            android:exported="false" />
        <activity
            android:name=".ui.barang.BarangActivity"
            android:exported="false"
            android:label="@string/title_activity_barang"
            android:theme="@style/Theme.UDMRPutra.NoActionBar" />
        <activity
            android:name=".ui.mitra.DaftarMitra"
            android:exported="false" />
        <activity
            android:name=".ui.Home"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.splashscreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>